header{
    background-color: paleturquoise;
    font-size: 20px;
    height: 70px;
 

}
h3{
    padding-top: 20px;
    padding-left: 90px;
}
#email{
  margin-left: 40px;
}
body{
    background-color: whitesmoke;
}